.App {
  text-align: center;
  min-height: 100vh;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 20px 0px;
  font-weight: bold;
}
